<div class="row">
    <div class="btn-group">
      <button type="button" class="btn btn-default active">2013</button>
      <button type="button" class="btn btn-default">2014 coming soon</button>
    </div>
</div>
<div class="row">
    <h3>Show</h3>
    <div class="btn-group">
        <button type="button" class="btn btn-default">25</button>
        <button type="button" class="btn btn-default">50</button>
        <button type="button" class="btn btn-default">100</button>
        <button type="button" class="btn btn-default active">All</button>
    </div>
</div>
<div class="row">
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="query">
        </div>
    </form>
</div>
<div class="table-responsive row" ng-controller="MainCtrl">
    <table class="table">
        <thead>
            <tr>
                <th>School</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="school in schools | orderBy:orderProp | filter:query">
                <td><a href="#/school/{{school.School}}">{{school.School}}</a></td>
                <td>{{school.Grade}}</td>
            </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li ng-class="{disabled: currentPage == 0}">
            <a href ng-click="prevPage()">&laquo;</a>
        </li>
        <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
            <a href ng-click="nextPage()">&raquo;</a>
        </li>
    </ul>
</div>
